.droploader-dragover {
	position: relative;
}

.droploader-dragover * {
	pointer-events: none;
}

.droploader-dragover::before {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 96px;
	content: "Drop to upload";
	text-align: center;
	font-size: 48px;
	color: #CCC;
	background: white;
	opacity: 0.9;
	border: 3px dashed #DDD;
	vertical-align: middle;

}

.droploader-dragover::after {
	content: "";
	display: inline-block;
	height:100%;
	vertical-align: middle;
}

.placeholder {
	opacity: 0.5;
}